body.login {
  background-color: transparent;
  background-image: url('../img/header-image.jpg');
  background-size: cover;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
  background-image: url('../img/custom-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
body.login div#login form#loginform {
  background-color: var(--main-color);
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}
